{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    {% block title %}
        <title>PyWeather</title>
    {% endblock %}
    <!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
    {#    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">#}

    <!-- Loading main css file -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="site-content">
    <div class="site-header">
        <div class="container">
            <a href="{% url 'home-pyweather' %}" class="branding">
                <img src="{% static 'images/logo.png' %}" alt="" class="logo">
                <div class="logo-type">
                    <h1 class="site-title">PyWeather</h1>
                    <!-- <small class="site-description">tagline goes here</small> -->
                </div>
            </a>
        </div>
    </div> <!-- .site-header -->

    {% block content %}
    {% endblock %}

    <footer class="site-footer">
        <div class="container">
            <p class="colophon arrow-feature">&copy; 2019 PyWeather | Developed by <a
                    href="https://purveshmakode.com" target="_blank" style="outline: none;">Purvesh Makode</a>
            </p>
        </div>
    </footer> <!-- .site-footer -->
</div>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>